.video__content-title{
    font-family: Inter;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (min-width: 320px){
    .video__content-title{
        font-size: 32px;
        line-height: 35px;
        margin-bottom: 16px;
    }
}

@media screen and (min-width: 768px){
    .video__content-title{
        font-size: 42px;
        line-height: 46px;
        margin: 0 auto 24px auto;
        width: 400px;
    }
}

@media screen and (min-width: 1024px){
    .video__content-title{
        width: 680px;
        font-size: 72px;
        line-height: 78px;
        margin-bottom: 48px;
    }
}