@import url("__subtitle/cover__subtitle.css");
@import url("__title/cover__title.css");

.cover__link{
    position: absolute;
    text-decoration: none;
    width: 100%;
    background-color: rgba(42,44,47,.1);
    transition: background-color 1s;
}

.cover__link:hover{
    background-color: rgba(42,44,47,.5);
}

@media screen and (min-width: 320px){
    .cover__link{
        height: 216px;
    }
}

@media screen and (min-width: 375px){
    .cover__link{
        height: 272px;
    }
}

@media screen and (min-width: 768px){
    .cover__link{
        height: 500px;
    }
}

@media screen and (min-width: 1024px){
    .cover__link{
        height: 562px;
    }
}

@media screen and (min-width: 1280px){
    .cover__link{
        height: 594px;
    }
}