.photo-grid__item{
    width: 100%;
}

@media screen and (min-width: 320px){
    .photo-grid{
        width: 288px;
        display: grid;
        grid-template-rows: 12;
        grid-gap: 8px;
        margin: 0 auto 64px auto;
    }
}

@media screen and (min-width: 375px){
    .photo-grid{
        width: 343px;
        display: grid;
        grid-template-rows: 12;
        grid-gap: 16px;
        margin: 0 auto 64px auto;
    }
}

@media screen and (min-width: 768px){
    .photo-grid{
        width: 720px;
        display: grid;
        grid-template-rows: 6;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px;
        margin: 0 auto 102px auto;
    }
}

@media screen and (min-width: 1024px){
    .photo-grid{
        width: 928px;
        display: grid;
        grid-template-rows: 4;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 14px;
        margin: 0 auto 102px auto;
    }
}

@media screen and (min-width: 1280px){
    .photo-grid{
        width: 1184px;
        display: grid;
        grid-template-rows: 3;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 16px;
        margin: 0 auto 92px auto;
    }
}