
.header__link{
    font-family: Inter;
    color: #FFFFFF;
}

.header__link:last-of-type{
    text-decoration: none;
}

@media screen and (min-width: 320px){
    .header__link{
        font-size: 18px;
        line-height: 17px;
    }
    .header__link:first-of-type{
        margin-right: 16px;
    }
}

@media screen and (min-width: 768px){
    .header__link{
        font-size: 24px;
        line-height: 23px;
    }
    .header__link:first-of-type{
        margin-right: 18px;
    }
}
