.footer__copyright{
    font-family: Inter;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

@media screen and (min-width: 1024px){
    .footer__copyright{
        margin-top: 10px;
    }
}