.lead__image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.lead__way{
    position: absolute;
}

@media screen and (min-width: 320px){
    .lead__image{
        margin-bottom: 8px;
    }
    .lead__img{
        width: 100%;
    }
    .lead__way{
        width: 100%;
        padding-left: 8px;
        padding-right: 8px;
    }
}

@media screen and (min-width: 768px){
    .lead__image{
        margin-bottom: 16px;
    }
    .lead__img{
        width: 100%;
    }
    .lead__way{
        width: 100%;
        padding-left: 18px;
        padding-right: 18px;
    }
}

@media screen and (min-width: 1024px){
    .lead__image{
        margin-bottom: 16px;
    }
    .lead__img{
        width: 928px;
        height: 554px;
    }
    .lead__way{
        width: 883px;
        height: 225px;
        padding-left: 21px;
        padding-right: 21px;
    }
}

@media screen and (min-width: 1280px){
    .lead__image{
        margin-bottom: 10px;
    }
    .lead__img{
        width: 984px;
        height: 554px;
    }
    .lead__way{
        width: 937px;
        height: 225px;
        padding-left: 22px;
        padding-right: 22px;
    }
}