@import url("../intro/__title/intro__title.css");
@import url("../intro/__text/intro__text.css");
@import url("../intro/__main-text/intro__main-text.css");

.intro{
    margin: 0 auto 92px auto;
}

@media screen and (min-width: 320px){
    .intro{
        width: 288px;
        margin-bottom: 64px;
    }
}

@media screen and (min-width: 375px){
    .intro{
        width: 343px;
        margin-bottom: 64px;
    }
}

@media screen and (min-width: 768px){
    .intro{
        width: 720px;
        margin-bottom: 97px;
    }
}

@media screen and (min-width: 1024px){
    .intro{
        width: 928px;
        margin: 0 auto 102px auto;
    }
    .wrapper__intro{
        width: 692px;
    }
}

@media screen and (min-width: 1280px){
    .intro{
        width: 984px;
    }
    .wrapper__intro{
        width: 683px;
    }
}
