@import url("../vendor/normalize.css");
@import url("../fonts/inter.css");
@import url("../blocks/header/header.css");
@import url("../blocks/lead/lead.css");
@import url("../blocks/intro/intro.css");
@import url("../blocks/photo-grid/photo-grid.css");
@import url("../blocks/places/places.css");
@import url("../blocks/video/video.css");
@import url("../blocks/comments/comments.css");
@import url("../blocks/cover/cover.css");
@import url("../blocks/footer/footer.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 100%;
    background-color: #2A2C2F;
}

.link_change{
    opacity: 1;
    transition: opacity 1s;
}

.link_change:hover{
    opacity: .7;
}

@media screen and (min-width: 320px){
    .main{
        padding-top: 16px;
        padding-bottom: 24px;
    }
}

@media screen and (min-width: 768px){
    .main{
        padding-top: 30px;
        padding-bottom: 24px;
    }
}

@media screen and (min-width: 1024px){
    .main{
        padding-top: 30px;
        padding-bottom: 48px;
    }
}

@media screen and (min-width: 1280px){
    .main{
        padding-top: 30px;
        padding-bottom: 48px;
    }
}