.comment__quote{
    font-family: Inter;
    color: #FFFFFF;
}

@media screen and (min-width: 320px){
    .comment__quote{
        font-size: 16px;
        line-height: 23px;
        margin-bottom: 47px;
        order: 2;
    }
}

@media screen and (min-width: 768px){
    .comment__quote{
        width: 382px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 1024px){
    .comment__quote{
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 16px;
        width: 296px;
        order: 1;
    }
}

@media screen and (min-width: 1280px){
    .comment__quote{
        width: 382px;
    }
}