.lead__caption{
    font-family: Inter;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
}

@media screen and (max-width: 425px){
    .lead__caption{
        padding-left: 16px;
    }
}

@media screen and (min-width: 425px){
    .lead__caption{
        padding-left: 24px;
    }
}

@media screen and (min-width: 1024px){
    .lead__caption{
        padding: 0;
    }
}